<div class="container">
  <div class="left-side">
    <div class="player-row" *ngFor="let player of players | async | ranker:'goals'" layout="column">
      <h3>{{player.name}}</h3>
      <div class="player-info">
        <p>
          Goals: {{player.goals}}
        </p>
        <p>
          Wins: {{player.wins}}
        </p>
        <p>
          Saves: {{player.saves}}
        </p>
        <p>
          Total Games: {{player.games}}
        </p>
      </div>
      <div class="buttons">
        <button (click)="add('goals', player)">+ Goal</button>
        <button (click)="add('wins', player)">+ Win</button>
        <button (click)="add('saves', player)">+ Save</button>
        <button (click)="add('games', player)">+ Game</button>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="top-row">
      <div class="player-square" *ngFor="let player of players | async | ranker:'goals' | slice:0:1" layout="column">
        <h2>goals</h2>
        <h3>{{player.name}}</h3>
        <div class="player-info">
          <p>
            Goals: {{player.goals}}
          </p>
        </div>
      </div>
      <div class="player-square" *ngFor="let player of players | async | ranker:'wins' | slice:0:1" layout="column">
        <h2>wins</h2>
        <h3>{{player.name}}</h3>
        <div class="player-info">
          <p>
            Wins: {{player.wins}}
          </p>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="player-square" *ngFor="let player of players | async | ranker:'saves' | slice:0:1" layout="column">
        <h2>saves</h2>
        <h3>{{player.name}}</h3>
        <div class="player-info">
          <p>
            Saves: {{player.saves}}
          </p>
        </div>
      </div>
      <div class="player-square" *ngFor="let player of players | async | ranker:'games' | slice:0:1" layout="column">
        <h2>games</h2>
        <h3>{{player.name}}</h3>
        <div class="player-info">
          <p>
            Total Games: {{player.games}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
