.container {
  display: flex;
  flex-direction: row;
}

.left-side, .right-side {
  flex: 1;
}

.player-row {
  padding: 10px;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  background-color: #fbfeff;
}

.player-info, .buttons {
  display: flex;
  flex-direction: row;
}

.player-info p {
  margin-right: 10px;
}

/*.player-square:not(:first-child) {
  display: none;
}*/

.right-side {
  flex-direction: column;
}

.top-row, .bottom-row {
  display: flex;
  flex-direction: row;
}

.player-square {
  padding: 10px;
  margin: 10px 15px;
  flex: 1;
  background-color: #fbfeff;
}
