<div class="container">
  <div class="left-side">
    <div class="player-row" *ngFor="let player of players | async | ranker:'goals'" layout="row">
      <img src="../assets/img/{{player.name}}.png" />
      <div class="player-content" layout="column">
        <span>{{player.name}}</span>
        <div class="player-info">
          <div class="stat">
            <span>Goals:</span>
            <h3>{{player.goals}}</h3>
          </div>
          <div class="stat">
            <span>Wins:</span>
            <h3>{{player.wins}}</h3>
          </div>
          <div class="stat">
            <span>Saves:</span>
            <h3>{{player.saves}}</h3>
          </div>
          <div class="stat">
            <span>Games:</span>
            <h3>{{player.games}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="player-square" *ngFor="let player of players | async | ranker:'goals' | slice:0:1" layout="row">
      <img src="../assets/img/{{player.name}}.png" />
      <div class="player-content" layout="column">
        <h2>GOALS</h2>
        <h3>{{player.name}}</h3>
        <p>{{player.goals}}</p>
      </div>
    </div>
    <div class="player-square" *ngFor="let player of players | async | ranker:'wins' | slice:0:1" layout="row">
      <img src="../assets/img/{{player.name}}.png" />
      <div class="player-content" layout="column">
        <h2>WINS</h2>
        <h3>{{player.name}}</h3>
        <p>{{player.wins}}</p>
      </div>
    </div>
    <div class="player-square" *ngFor="let player of players | async | ranker:'saves' | slice:0:1" layout="row">
      <img src="../assets/img/{{player.name}}.png" />
      <div class="player-content" layout="column">
        <h2>SAVES</h2>
        <h3>{{player.name}}</h3>
        <p>{{player.saves}}</p>
      </div>
    </div>
    <div class="player-square" *ngFor="let player of players | async | ranker:'games' | slice:0:1" layout="row">
      <img src="../assets/img/{{player.name}}.png" />
      <div class="player-content" layout="column">
        <h2>GAMES</h2>
        <h3>{{player.name}}</h3>
        <p>{{player.games}}</p>
      </div>
    </div>
  </div>
</div>
